*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* body{
    background-color: #00ADB5;
} */

body{
    background-color: silver;
}

.container_big{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

.left_block{
    background-color: #393e46;
    flex-basis: 25%;
    color: #eeeeee;
}

.right_block{
    background-color: #eeeeee;
    flex-basis: 75%;
}

.container{
    max-width: 1200px;
    min-width: 320px;
    margin: 15px;
}

.img img{
    border: 5px solid #eeeeee;
    margin: 5%;
    width: 200px;
    height: 200px;
}


.left_title{
    font-weight: 900;
    font-size: larger;
    padding-left: 30%;
}

.contacts_title{
    font-weight: 900;
    padding: 5px;
}

.contacts{
    display: flex;
    flex-flow: column nowrap;
}

.contact span{
    display: inline-block;
    margin-left: 5px;
}

a{
    text-decoration: none;
    transition: 0.2s;
    color: #eeeeee;
}

a:hover{
    transform: scale(1.4);
    text-decoration: underline;
    transition: 0.2s;
}

.professional span{
    display: inline-block;
    margin-top: 7px;
    margin-left: 5px;
}

.references span{
    display: inline-block;
    margin-top: 7px;
    margin-left: 5px;
}

.name_box span:first-child{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.name_box{
    margin-top: 100px;
    margin-bottom: 50px;
}

.right_title{
    text-transform: uppercase;
    font-size: larger;
    padding-bottom: 30px;
    display: inline-block;
}

.underline{
    background-color: #393e46;
    height: 4px;
    width: auto;
}

.about_myself{
    margin-bottom: 50px;
}

/* .professional_experience div::before{
    position: relative;
    content: '';
    background-color: aquamarine;
    border-radius: 50%;
    width: 10px;
    height: 10px;
} */

.td{
    width: 25%;
    padding: 20px;
}

.professional_experience ul{
    margin-left: 50px;
}

.education{
    display: flex;
    flex-flow: column nowrap;
}

.education_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00ADB5;
    max-width: 300px;
    height: 120px;
}

.education .education_block:nth-child(2){
    position: relative;
    left: 400px;
}

.education_block:nth-child(1)::before{
    align-self: flex-end;
    content: '';
    background-color: silver;
    position: absolute;
    border: 2px solid;
    margin-left: 50px;
    height: 350px;
}

.education_block::after{
    content: '';
    position: absolute;
    border-left: 5px solid;
}

@media(max-width: 1200px){
    .container{
        margin: 0 15px;
    }
    
}